

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-grid {
    margin-top: 1px;
    padding: 0.5px;
    border: 2px solid #434343;
}

div.container-grid {
    font-size: 24px;
    margin-bottom: 10px;
}

.container-desc  {
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
    max-width: 600px;
}

.time {
    display: flex;
justify-content: space-between;

}

.servings {
    flex-direction: column;
}

button {
    margin-top: 35px;
    padding: 10px 25px;
    background-color: #a2a2a2;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 35px;
    text-decoration: none;
}

button:hover {
    background-color: #818080;
}

.ingredients {
    justify-content: center;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: rgb(109, 2, 2);
}

.link:hover {
    color: #816c6c;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode a {
    color: lightblue;
}

